<div class="m-loader m-size-xl">
  <div class="laser"></div>
  <div class="laser"></div>
  <div class="laser"></div>
  <div class="laser"></div>
  <img class="logo" src="/assets/logo1.png">
</div>
<p class="fatal-error" *ngIf="error === true">Mixzy is currently undergoing Maintenance. Check out our <a href="https://status.musicpad.net" target="_blank">status page</a> for info</p>
<p class="fatal-error" *ngIf="websocketError === true">Error while connecting to Mixzy's Realtime Websocket Server, Please <a href="mailto:support@musicpad.net">poke us</a> if the issue continues</p>