<div class="m-loader m-size-xl">
  <div class="laser"></div>
  <div class="laser"></div>
  <div class="laser"></div>
  <div class="laser"></div>
  <img class="logo" src="/assets/logo1.png">
</div>
<p class="fatal-error" *ngIf="error === false && websocketError == false">Plugging You In . . .</p>
<p class="fatal-error" *ngIf="error === true">Something is very wrong... <a href="mailto:support@mixzy.pro">Poke us</a> with the following error: Unknown RESTful API Error</p>
<p class="fatal-error" *ngIf="websocketError === true">Something is very wrong... <a href="mailto:support@mixzy.pro">Poke us</a> with the following error: Unknown Websocket Connection Error</p>