:host {
  height: calc(100vh - 50px);
  width: calc(100vw - 300px);
  position: fixed;
	border-top: 1px solid #000000;
  bottom: 50px;
  left: 0;
  background-color: #0a0b0d;
  z-index: 2600;
  transition: bottom 0.5s;
}

:host .header {
  height: 50px;
  width: 100%;
  background-color: #252526;
  border-bottom: 1px solid #000000;
}

:host .header .container {
  display: flex;
  width: 100%;
  height: 50px;
}

:host .header .close-playlist-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 25px!important;
  background: rgb(0,140,255);
  background: linear-gradient(360deg, rgba(0,140,255,1) 0%, rgba(0,88,161,1) 70%);
}

:host .header .close-playlist-btn .mat-icon {
  font-size: 25px!important;
}

:host .header .search-box {
  height: 35px;
  margin-left: 10px;
  margin-top: 7px;
  width: calc(100% - 70px);
  display: flex;
  background-color: #0a0b0d;
	border: 1px solid #000000;
}

:host .header .search-box .search-icon {
  color: #c1c1c1;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 20px;
}

:host .header .search-box input {
  color: #ffffff;
  height: 35px;
  font-family: "Industrywf", sans-serif;
  text-decoration: none;
  background-color: transparent;
  outline: none;
	line-height: 5px;
  font-size: 14px;
  border: none;
  width: calc(100vw - 475px);
  margin-left: 4px;
}

:host .header .search-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
}

:host .left-panel {
  height: 100%;
  width: 200px;
  background-color: #111113;
}

:host .left-panel .playlist-items {
  height: calc(100% - 100px);
  width: 200px;
}

:host .left-panel .playlist-items .item {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Industrywf", sans-serif;
  font-size: 14px;
  display: inline-flex;
  line-height: 50px;
  transition: background-color .05s ease-in-out;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

:host .left-panel .playlist-items .item-text {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Industrywf", sans-serif;
  font-size: 16px;
  display: inline-flex;
  line-height: 50px;
  font-weight: 500;
  color: #a2a2a2;
}

:host .left-panel .playlist-items .item-text span {
  margin-left: 5px;
}

:host .left-panel .playlist-items .item.active {
  background-color: #0075d5;
}

:host .left-panel .playlist-items .item .title {
  margin-left: 10px;
  width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

:host .left-panel .playlist-items .item .count {
  color: #ffffff;
  float: right;
  font-size: 16px;
  margin-left: auto;
  margin-right: 10px;
}

:host .left-panel .playlist-items .item .mat-icon {
  color: #ffffff;
  font-size: 17px;
  margin-left: 5px;
  line-height: 50px;
  height: 40px;
  width: 40px;
}

:host .left-panel .bottom-btns {
  height: 50px;
  display: flex;
  width: 200px;
}

:host .left-panel .bottom-btns .btn-create {
  width: 100px;
  cursor: pointer;
  height: 50px;
  text-align: center;
  background-color: #0075d5;
}

:host .left-panel .bottom-btns .btn-import span {
  line-height: 50px;
  align-self: center;
  color: #ffffff;
  font-family: "Industrywf", sans-serif;
}

:host .left-panel .bottom-btns .btn-import {
  width: 100px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  background-color: #0a0b0d; 
}

:host .left-panel .bottom-btns .btn-create span {
  line-height: 50px;
  color: #ffffff;
  font-family: "Industrywf", sans-serif;
  align-self: center;
}

.playlist-panels {
  height: calc(100vh - 102px);
  width: calc(100% - 200px);
  position: absolute;
  bottom: 0;
  left: 200px;
	display: none;
}

.playlist-panel-no-pl {
  height: calc(100vh - 102px);
  width: calc(100% - 200px);
  position: absolute;
  bottom: 0;
  left: 200px;
	display: none;
}

.playlist-panels .pl-header {
	width: 100%;
	height: 50px;
	display: flex;
}

.playlist-panels .pl-header .right {
	margin-left: auto;
	display: flex;
}

.playlist-panels .pl-header .left {
	width: 200px;
	height: 50px;
  line-height: 50px;
	color: #ffffff;
	margin-left: 10px;
	font-family: "Indsutrywf", sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-overflow: ellipsis;
}

.playlist-panels .pl-header .right .delete-pl-btn {
  height: 50px;
	width: 50px;
	background-color: rgb(44, 45, 46);
	color: #ffffff;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}

.playlist-panels .pl-header .right .rename-pl-btn {
  height: 50px;
	width: 50px;
	background-color: rgb(25, 25, 26);
	color: #ffffff;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	border-right: 1px solid #000000;
}

.playlist-panels .pl-header .right .shuffle-pl-btn {
  height: 50px;
	width: 50px;
	background-color: rgb(59, 59, 61);
	color: #ffffff;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	border-right: 1px solid #000000;
}

.playlist-panels .pl-header .right .active-pl-btn {
  height: 50px;
	width: 100px;
	background-color: #0075d5;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	font-family: "Industrywf", sans-serif;
	border-right: 1px solid #000000;
	cursor: pointer;
}

.playlist-panels .pl-header .right .active-pl-btn.active {
  height: 50px;
	width: 100px;
	color: #0075d5;
	text-align: center;
	line-height: 50px;
	font-weight: 800;
	font-size: 15px;
	background-color: transparent;
	text-transform: uppercase;
	font-family: "Industrywf", sans-serif;
	cursor: pointer;
	display: flex;
}

.playlist-panels .pl-header .right .active-pl-btn.active .mat-icon {
  font-size: 20px;
	margin-left: 4px;
	float: right;
	margin-top: 13px;
}

.playlist-panels .pl-header .right .delete-pl-btn .mat-icon {
	font-size: 20px;
}

.playlist-panels .viewport {
	margin-top: 2px;
  height: calc(100vh - 152px);
	overflow-y: auto;
}

.m-sng {
	width: calc(100% - 10px)!important;
	height: 50px;
	margin: 0 5px;
	border-bottom: 1px solid #444A59;
	margin-top: 1px!important;
	vertical-align: middle;
	line-height: 50px;
	cursor: pointer;
}

.m-sng:first-child .btn-song-top {
	display: none;
}
.m-sng:not(:first-child) .btn-song-bot {
	display: none;
}
.m-sng:first-child {
	background: rgba(0, 117, 213 ,0.8)!important;
}
.m-sng:last-child {
	border: none;
}
.lib-thumb {
	width: 51px;
	height: 38px;
	float: left;
	margin-top: 1px;
}

.m-sng .text, .yt-blocked-sng .text, .yt-sng .text, .hist-sng .text {
	margin: 0 10px;
	float: left;
	width: calc(100% - 272px);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nail {
	width: 120px;
	height: 68px;
	float: left;
	background-position: center;
}

.m-sng {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #3b3b3b;
	vertical-align: middle;
	font-weight: 400;
	line-height: 50px;
	cursor: pointer;
  color: #ffffff;
	transition: background .2s;
}
.m-sng:first-child .btn-song-top {
	display: none;
}
.m-sng:hover {
	background-color: #1f1f20;
}
.m-sng:not(:first-child) .btn-song-bot {
	display: none;
}
.m-sng:last-child {
	border: none;
}
.m-sng:focus {
	background: #0075d5!important;
}
.lib-unavailable {
	background: rgba(88, 121, 171, 0.2);
}
.lib-thumb {
	width: 51px;
	height: 38px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.m-sng .text, .yt-blocked-sng .text, .yt-sng .text, .hist-sng .text {
	margin: 0 10px;
	float: left;
	width: calc(100% - 272px);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hist-sng .texts {
	width: calc(100% - 452px);
	float: left;
    margin: 20px 10px;
}
.text.sng {
	color: #ddd;
    font-size: 14px;
}

.m-sng .nav {
	float: right;
}

.nail {
	width: 120px;
	height: 68px;
	float: left;
	background-position: center;
}

.centering-xy{
	position:absolute;
	display:inline-block;
	top:50%;
	left:50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.m-sng .add-btn {
  float: right;
	margin-right: 10px;
}

.m-sng .mat-icon {
  font-size: 20px;
  cursor: pointer;
	margin-left: 5px;
	height: 20px;
	width: 20px;
	margin-top: 13px;
}

.m-sng.isdragging {
	border-bottom: 2px solid #0075d5;
	background: rgba(0, 117, 213 ,0.4);
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 3em;
}

::-webkit-scrollbar-track {
  background: 0 0;
  -webkit-border-radius: 3em;
}