<div class="black-bg"></div>
<div class="background-main"></div>

<img src="/assets/logo1.png" class="maint-logo">

<h1 class="centering-xy" style="top: 25%;">Maintenance Mode</h1>
<p class="centering-xy" style="top: 30%;">Mixzy is currently undergoing maintenance. Please check our <a href="https://status.musicpad.net" target="_blank">status page</a> for updates.</p>

<iframe class="centering-xy m-player" style="top: 55%;" width="560" height="315" src="https://www.youtube.com/embed/uZ2njuGLGOI?controls=1&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>