<div class="black-bg"></div>
<div id="room-background"></div>

<m-app-room-menu [tab]="tabToOpen" [ngStyle]="roomMenuStyle" *ngIf="roomMenuIsOpen === true"></m-app-room-menu>

<div id="room-header">
  <div class="container">

    <div class="dashboard-btn" matTooltip="Dashboard" matTooltipPosition="right" (click)="toggleRoomMenuRooms()">
      <div class="logo"></div>
    </div>

    <div class="room-info">

      <h4 class="roomName">{{roomName}}</h4>
      <p class="roomDJ">{{roomDJ}}</p>

    </div>

    <div class="btns-center">
      <button mat-stroked-button color="primary" matTooltip="Room Info" matTooltipPosition="below" (click)="toggleRoomMenu()">Info <mat-icon>info</mat-icon></button>
      <button mat-stroked-button color="primary" matTooltip="Room Moderation" matTooltipPosition="below">Moderation <mat-icon>gavel</mat-icon></button>
      <button mat-stroked-button color="primary" matTooltip="Room Settings" matTooltipPosition="below">settings <mat-icon>settings</mat-icon></button>
      <button mat-stroked-button color="primary" matTooltip="Song History" matTooltipPosition="below" (click)="toggleRoomMenuHistory()">History <mat-icon>history</mat-icon></button>
    </div>

    <div class="btns-right" *ngIf="loggedIn === false">
      <button mat-button color="primary" (click)="openLoginDialog()">Login</button>
      <button mat-raised-button color="accent" (click)="openSignupDialog()">Signup</button>
    </div>

  </div>
</div>

<div class="btns-right" *ngIf="loggedIn === true">
  <span class="right-username">{{username}}</span>
  <a mat-button class="user-btn" color="primary" style="z-index: 4000; right: 5px; position: fixed;top: 8px;" (click)="onClickUserMenu()">
    <span class="inline-btn-content"><img [src]="pfp" class="avatar-right" style="margin-right: 4px;"><mat-icon>chevron_right</mat-icon></span>
  </a>
</div>

<div class="room-container">

  <div class="player-container centering-xy">
    <div class="nobody-is-playing">
      
    </div>
    <!-- <iframe class="player" src="https://www.youtube.com/embed/kMRe5A215xs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
    <div class="player-controls-bar">
      <div class="container">
        <div class="btns-left">
          <div class="control-btn-left">
            <mat-icon>volume_up</mat-icon>
          </div>
          <div class="control-btn-time">
            <span>00:00</span>
          </div>
        </div>
        <div class="control-title">
          <span>Nobody is playing</span>
        </div>
        <div class="btns-right">
          <div class="control-btn-right" matTooltip="Skip Song" matTooltipPosition="below">
            <mat-icon>skip_next</mat-icon>
          </div>
          <div class="control-btn-right" matTooltip="Refresh Video" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="room-sidebar">
  <div class="sidebar-header">
    <mat-tab-group (selectedTabChange)="onTabChanged($event);">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="font-size: 20px;">chat</mat-icon>
        </ng-template>
        <div class="sidebar-chat-container" #chatScroll>
          <div class="chat-connected-message">
            <span>Welcome to the chat!</span>
          </div>
          <div *ngFor="let message of chatMessages" class="chat-message">
            <div class="pfp">
              <img [src]="message.pfp">
            </div>
            <span class="username">{{message.username}}</span>
            <span class="message">{{message.message}}</span>
          </div>
        </div>
        <div class="sidebar-chat-footer">
          <button class="icon-btn" mat-icon-button aria-label="Emote Button" color="primary">
            <mat-icon>mood</mat-icon>
          </button>
          <form [formGroup]="chatForm" (submit)="onChatSubmit()">
            <input id="chat-text-input" placeholder="Type your message..." type="text" formControlName="chat" autocomplete="off">
            <button class="send-icon-btn" mat-icon-button aria-label="Emote Button" color="primary">
              <mat-icon>send</mat-icon>
            </button>
          </form>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="font-size: 20px;">group</mat-icon>
          <span style="margin-left: 4px;">{{userCount}}</span>
        </ng-template>
         Content 2 
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="font-size: 20px;">queue_music</mat-icon>
          <span style="margin-left: 4px;">0</span>
        </ng-template>
        Content 3 
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div id="room-footer">
  <div class="container">
    <div class="playlist-btn" matTooltip="Playlists" matTooltipPosition="right" (click)="openPlaylistPanel()">
      <mat-icon aria-hidden="false" aria-label="Playlist Icon" fontIcon="format_list_bulleted" class="playlist-icon"></mat-icon>
    </div>
    <div class="playlist-song-contain">
      <span class="playlist-song-title" *ngIf="loggedIn === true">{{nextSongtitle}}</span>
      <span class="playlist-song-title" *ngIf="loggedIn === false">Login or Signup to join the party!!!</span>
    </div>
    <div class="right-content">
      <div class="queue-btn" *ngIf="inQueue === false" (click)="onClickJoinQueue()" matTooltip="Join Queue" matTooltipPosition="left">
        <span>Join Queue</span>
      </div>
      <div class="queue-btn leave" *ngIf="inQueue === true" (click)="onClickLeaveQueue()" matTooltip="Leave Queue" matTooltipPosition="left">
        <span>Leave Queue</span>
      </div>
      <div class="song-voting">
        <div class="vote-btn upvote">
          <mat-icon>thumb_up</mat-icon>
          <span>0</span>
        </div>
        <div class="vote-btn grab">
          <mat-icon>favorite</mat-icon>
          <span>0</span>
        </div>
        <div class="vote-btn downvote">
          <mat-icon>thumb_down</mat-icon>
          <span>0</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="room-loading" *ngIf="roomIsLoaded === false" [ngStyle]="roomLoaderStyle">
  <m-app-spinner [ngStyle]="loaderStyle" class="centering-xy"></m-app-spinner>
  <p class="centering-xy" style="top: 55%;color:#ffffff;font-family: 'Industrywf', sans-serif;font-size: 17px;font-weight: 700;" [ngStyle]="loaderStyle">Connecting to room . . .</p>
</div>