
// header
#room-header {
  height: 52px;
  width: 100%;
  background-color: #040505;
  z-index: 2700;
  position: absolute;
  -webkit-box-shadow: 2px 12px 17px 5px rgba(0,0,0,0.48); 
  box-shadow: 2px 12px 17px 5px rgba(0,0,0,0.48);
}

#room-header .container {
  display: flex;
  align-items: center;
  height: 52px;
  position: relative;
}

.room-info {
  width: 15%;
  height: 50px;
  text-overflow: ellipsis;
}

.roomName {
  color: #ececec;
  margin-top: 9px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Industrywf', sans-serif;
}

.roomDJ {
  color: #9a9a9a;
  margin-top: -21px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Industrywf', sans-serif;
}

#room-header .dashboard-btn {
  height: 52px;
  width: 52px;
  line-height: 70px;
  cursor: pointer;
  background-color: #15171c;
  -webkit-box-shadow:inset 0 2px 0 -1px #000000;
  -moz-box-shadow:inset 0 2px 0 -1px #000000;
  box-shadow:inset 0 2px 0 -1px #000000;
}

#room-header .dashboard-btn .logo {
  margin: 0 auto;
  height: 20px;
  width: 20px;
  padding-top: 30px;
  background: url(/assets/logo1.png) center center no-repeat;
  background-size: 24px 24px; 
}

#room-header .btns-center {
  margin-left: 16.5%;
  height: 50px;
  max-width: 500px;
  line-height: 50px;
}

#room-header .btns-right {
  right: 5px;
  z-index: 4000;
  position: aboslute;
  top: 6px;
}

// footer
#room-footer {
  height: 52px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2600;
  background-color: #040505;
  -webkit-box-shadow: 2px -13px 17px 5px rgba(0,0,0,0.48); 
  box-shadow: 2px -13px 17px 5px rgba(0,0,0,0.48);
}

#room-footer .container {
  display: flex;
  height: 52px;
  width: 100%;
  position: relative;
}

#room-footer .playlist-btn {
  height: 52px;
  width: 52px;
  -webkit-box-shadow:inset 0 2px 0 -1px #000000;
  -moz-box-shadow:inset 0 2px 0 -1px #000000;
  box-shadow:inset 0 2px 0 -1px #000000;
  background: linear-gradient(360deg, rgba(0,140,255,1) 0%, rgba(0,88,161,1) 70%);
  cursor: pointer;
  color: #ffffff;
  text-align: center;
}

#room-footer .playlist-song-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 52px;
  text-overflow: ellipsis;
  font-family: "Industrywf", sans-serif;
  color: #ffffff;
}

#room-footer .right-content {
  margin-left: auto;
  display: flex;
}

#room-footer .song-voting {
  width: 300px;
  height: 52px;
  display: flex;
}

#room-footer .song-voting .vote-btn {
  width: 100px;
  border-right: 1px solid #000000;
  cursor: pointer;
  transition: all 0.2s;
  color: #ffffff;
  text-align: center;
}

#room-footer .song-voting .vote-btn span {
  font-family: "Industrywf", sans-serif;
  position: absolute;
  font-size: 13px;
  bottom: 3px;
  margin-left: -15px;
}

#room-footer .song-voting .vote-btn:hover {
  width: 100px;
  border-right: 1px solid #000000;
  cursor: pointer;
  transition: all 0.2s;
}

#room-footer .song-voting .upvote:hover {
  background: rgba(29,205,43, 0.5);
  transition: all 0.2s;
}

#room-footer .song-voting .upvote.voteing {
  background: rgba(29,205,43, 0.5);
  transition: all 0.2s;
}

#room-footer .song-voting .upvote {
  border-left: 1px solid #000000;
}

#room-footer .song-voting .grab:hover {
  background: rgba(158, 135, 252, 0.5);
  transition: all 0.2s;
}

#room-footer .song-voting .downvote:hover {
  background: rgba(186,63,64, 0.5);
  transition: all 0.2s;
}

#room-footer .song-voting .downvote.voteing {
  background: rgba(186,63,64, 0.5);
  transition: all 0.2s;
}

#room-footer .song-voting .vote-btn .mat-icon {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-top: 6px;
}

#room-footer .song-voting .upvote .mat-icon {
  color: rgba(29,205,43, 1);
}

#room-footer .song-voting .downvote .mat-icon {
  color: rgba(186,63,64, 1);
}

#room-footer .song-voting .grab .mat-icon {
  color: rgba(158, 135, 252, 1);
}

#room-footer .queue-btn {
  height: 52px;
  padding-left: 25px;
  padding-right: 25px;
  background: #0075d5;
  cursor: pointer;
  align-items: center;
  transition: all .3s;
}

#room-footer .queue-btn:hover {
  height: 52px;
  padding-left: 25px;
  padding-right: 25px;
  background: #0088f8;
  cursor: pointer;
  align-items: center;
}

#room-footer .queue-btn.leave {
  height: 52px;
  padding-left: 25px;
  padding-right: 25px;
  background: #c50000;
  cursor: pointer;
  align-items: center;
  transition: all .3s;
}

#room-footer .queue-btn.leave:hover {
  height: 52px;
  padding-left: 25px;
  padding-right: 25px;
  background: #e70000;
  cursor: pointer;
  align-items: center;
}

#room-footer .queue-btn span {
  font-family: "Industrywf", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 52px;
  color: #ffffff;
}

.playlist-song-contain {
  width: 500px;
  height: 52px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 15px;
}

.playlist-icon {
  font-size: 25px;
  height: 25px;
  padding-top:13px;
  width: 25px;
}

// bg
#room-background {
  height: calc(100vh - 104px);
  width: calc(100vw - 300px);
  position: fixed;
  top: 52px;
  left: 0;
  opacity: 0.55;
  right: 300;
  background: url(/assets/bg004.png) center center no-repeat;
  background-size: cover;
  z-index: -1000;
}

// sidebar things
#room-sidebar {
  height: calc(100vh - 104px);
  width: 300px;
  position: fixed;
  right: 0;
  top: 52px;
  z-index: 2500;
  background: #000000;
  right: 0;
  -webkit-box-shadow: -3px 2px 21px 9px rgba(0,0,0,0.68); 
  box-shadow: -3px 2px 21px 9px rgba(0,0,0,0.68);
}

.sidebar-header {
  height: 50px;
  width: 300px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.11);
}

.sidebar-chat-container {
  height: calc(100vh - 204px);
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-chat-footer {
  height: 50px;
  width: 300px;
  border-top: 2px solid rgba(255, 255, 255, 0.11);
  overflow: hidden;
}

.sidebar-chat-footer input {
  color: #fff;
  background: #000000;
  outline: none;
  display: inline;
  border: none;
  height: 17px;
  width: 200px;
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  position: absolute;
  bottom: 18px;
  left: 50px;
}

.sidebar-chat-footer .icon-btn {
  position: absolute;
  left: 6px;
  bottom: 6px;
}

.sidebar-chat-footer .send-icon-btn {
  position: absolute;
  right: 6px;
  bottom: 6px;
  font-size: 9px!important;
}

.sidebar-chat-footer .mat-icon {
  font-size: 21px;
  margin-top: 2px;
}

// player things
.player-container {
  position: fixed;
  height: 550px;
  width: 907px;
  left: 45%;
  z-index: -700;
  background: url(/assets/logo1.png) center center no-repeat;
  background-size: 70px 70px;
  background-color: rgb(0, 0, 0);
}

.player-controls-bar {
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #040505;
}

.player-controls-bar .container {
  height: 40px;
  width: 100%;
  position: relative;
  display: flex;
}

.btns-left {
  display: flex;
}

.control-btn-left {
  height: 40px;
  color: #ffffff!important;
  width: 40px;
  cursor: pointer;
  transition: all .2s;
  border-right: 1px solid #000000;
}

.control-btn-left:hover {
  height: 40px;
  color: #ffffff!important;
  width: 40px;
  cursor: pointer;
  background: #121418;
  border-right: 1px solid #000000;
}

.control-btn-time {
  height: 40px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #000000;
}

.control-title {
  height: 40px;
  width: 500px;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.control-title span {
  line-height: 38px;
  width: 500px!important;
  text-align: center;
  display: inline-block;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.control-btn-time span {
  line-height: 40px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}

.control-btn-left .mat-icon {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.btns-right {
  display: flex;
  margin-left: auto;
}

.control-btn-right {
  height: 40px;
  color: #ffffff!important;
  width: 40px;
  transition: all .2s;
  cursor: pointer;
  border-left: 1px solid #000000;
}

.control-btn-right:hover {
  height: 40px;
  color: #ffffff!important;
  width: 40px;
  cursor: pointer;
  background: #121418;
  border-left: 1px solid #000000;
}

.control-btn-right .mat-icon {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.control-volume-slider-container {
  height: 130px;
  width: 40px;
  position: absolute;
  bottom: 40px;
  left: 0;
  background: #060708;
  z-index: 8000;
}

.vol:hover + .control-volume-slider-container {
  display: block;
}

.control-volume-slider-container:hover {
  display: block;
}

#roomplayer {
  position: absolute;
  height: 455px;
  width: 807px;
}

.volume {
  transform: rotate(270deg);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-apearnance-: none;
  -moz-transform: rotate(270deg);
  position: absolute;
  width: 120px;
  height: 40px;
  background: none;
  bottom: 43px;
  left: -42px;
}

.volume::-webkit-slider-runnable-track {
  background: #111517;
  border-radius: none;
  height: 20px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-apearnance-: none;
}

.volume::-moz-range-track {
  background: #1a1a1a;
  height: 20px;
  border-radius: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-apearnance-: none;
}

.volume::-moz-range-progress {
  background-color: #0075d5;
  height: 20px;
}

.volume::-webkit-slider-thumb {
  background: #ffffff;
  width: 15px;
  height: 30px;
  appearance: none;
  margin-top: -5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-apearnance-: none;
  cursor: pointer;
}

.volume::-moz-range-thumb {
  background: #ffffff;
  width: 15px;
  height: 30px;
  appearance: none;
  margin-top: -5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-apearnance-: none;
  border-radius: 0;
  cursor: pointer;
}

.centering-xy{
	position:absolute;
	display:inline-block;
	top:50%;
	left:50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.room-container {
  height: calc(100vh - 100px);
  width: calc(100vw - 300px);
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1000;
}

.room-loading {
  position:fixed;
  z-index:9000;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: #000000;
  text-align:center;
  width:100%;
  height:100%;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  transition-property: all;
	transition-duration: 2s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 3em;
}

::-webkit-scrollbar-track {
  background: 0 0;
  -webkit-border-radius: 3em;
}

.right-username {
  color: #ffffff;
  font-size: 16px;
  line-height: 54px;
  display: inline;
  font-weight: 500;
  font-family: "Industrywf", sans-serif;
  position: absolute;
  z-index: 3000;
  right: 83px;
}

.chat-connected-message {
  margin-top: 5px;
  margin-left: .375rem;
  margin-right: .375rem;
  border-radius: 4px;
  padding: .20rem .5rem;
  word-break: break-word;
  font-family: "Industrywf", sans-serif;
  font-size: 15px;
  color: #7c7c7c;
}

.chat-info-message {
  margin-left: .375rem;
  margin-right: .375rem;
  border-radius: 4px;
  padding: .20rem .5rem;
  word-break: break-word;
  font-family: "Industrywf", sans-serif;
  font-size: 15px;
  color: #7c7c7c;
}

.chat-welcome-message {
  margin-left: .375rem;
  margin-right: .375rem;
  border-radius: 4px;
  padding: .20rem .5rem;
  word-break: break-word;
  font-family: "Industrywf", sans-serif;
  font-size: 15px;
  color: #0075d5;
}

.chat-message {
  margin-left: .375rem;
  margin-right: .375rem;
  min-height: 28px;
  border-radius: 4px;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.chat-message .pfp {
  height: 23px;
  float: left;
  width: 23px;
  line-height: 1;
  background-color:#0075d5;
  border-radius: 9999px;
  margin-right: 4px;
  cursor: pointer;
}

.chat-message .pfp img {
  display: block;
  margin: 0 auto;
  margin-top: 2px;
  height: 19px;
  width: 19px;
  border-radius: 9999px;
  cursor: pointer;
}

.chat-message .username {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #0075d5;
  font-weight: 600;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
}

.chat-message .message {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #a8a8a8;
  margin-left: 4px;
  word-break: break-word;
  line-height: 1.25rem;
}

.user-list-container {
  height: calc(100vh - 154px);
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-list-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background .3s;
  cursor: pointer;
}

.user-list-item:hover {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #15171c;
}

.user-list-item span {
  font-family: "Industrywf", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 5px;
}

.queue-list-container {
  height: calc(100vh - 154px);
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.queue-list-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background .3s;
  cursor: pointer;
}

.queue-list-item:hover {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #15171c;
}

.queue-list-item span {
  font-family: "Industrywf", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 5px;
}

.current-dj-link {
  color: #0075d5;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s;
}

.current-dj-link:hover {
  color: #008cff;
  text-decoration: none;
}