<div id="room-background"></div>

<div id="room-header">
  <div class="container">

    <div routerLink="/" class="dashboard-btn" matTooltip="Dashboard" matTooltipPosition="right">
      <div class="logo"></div>
    </div>

    <div class="room-info">

      <h4 class="roomName">{{roomName}}</h4>
      <p class="roomDJ">{{roomDJ}}</p>

    </div>

    <div class="btns-center">
      <button mat-stroked-button color="primary" matTooltip="Room Info" matTooltipPosition="below">Info <mat-icon>info</mat-icon></button>
      <button mat-stroked-button color="primary" matTooltip="Room Moderation" matTooltipPosition="below">Moderation <mat-icon>gavel</mat-icon></button>
      <button mat-stroked-button color="primary" matTooltip="Room Settings" matTooltipPosition="below">settings <mat-icon>settings</mat-icon></button>
      <button mat-stroked-button color="primary" matTooltip="Song History" matTooltipPosition="below">History <mat-icon>history</mat-icon></button>
    </div>

    <div class="btns-right">
      <a mat-button class="user-btn" color="primary"><img [src]="pfp" class="avatar-right" style="margin-right: 6px;">{{username}}</a>
    </div>

  </div>
</div>

<div class="room-container">

  <div class="player-container centering-xy">
    <iframe class="player" src="https://www.youtube.com/embed/pYzLDNR4DfM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="player-controls-bar">
      <div class="container">
        <div class="btns-left">
          <div class="control-btn-left">
            <mat-icon>volume_up</mat-icon>
          </div>
          <div class="control-btn-time">
            <span>01:15</span>
          </div>
        </div>
        <div class="control-title">
          <span>Excision, Wooli, & Codeko - Don't Look Down (Hold On) | Official Visualizer</span>
        </div>
        <div class="btns-right">
          <div class="control-btn-right" matTooltip="Skip Song" matTooltipPosition="below">
            <mat-icon>skip_next</mat-icon>
          </div>
          <div class="control-btn-right" matTooltip="Refresh Video" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="room-sidebar">
  <div class="sidebar-header">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="font-size: 20px;">chat</mat-icon>
        </ng-template>
        <div class="sidebar-chat-container"></div>
        <div class="sidebar-chat-footer">
          <button class="icon-btn" mat-icon-button aria-label="Emote Button" color="primary">
            <mat-icon>mood</mat-icon>
          </button>
          <input id="chat-text-input" placeholder="Type your message..." type="text">
          <button class="send-icon-btn" mat-icon-button aria-label="Emote Button" color="primary">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="font-size: 20px;">group</mat-icon>
          <span style="margin-left: 4px;">1</span>
        </ng-template>
         Content 2 
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="font-size: 20px;">queue_music</mat-icon>
          <span style="margin-left: 4px;">0</span>
        </ng-template>
        Content 3 
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div id="room-footer">
  <div class="container">
    <div class="playlist-btn" matTooltip="Playlists" matTooltipPosition="right" (click)="openPlaylistPanel()">
      <mat-icon aria-hidden="false" aria-label="Playlist Icon" fontIcon="format_list_bulleted" class="playlist-icon"></mat-icon>
    </div>
    <div class="playlist-song-contain">
      <span class="playlist-song-title">{{nextSongtitle}}</span>
    </div>
    <div class="right-content">
      <div class="queue-btn leave" matTooltip="Join/Leave Queue" matTooltipPosition="left">
        <span>Leave Queue</span>
      </div>
      <div class="song-voting">
        <div class="vote-btn upvote">
          <mat-icon>thumb_up</mat-icon>
          <span>0</span>
        </div>
        <div class="vote-btn grab">
          <mat-icon>favorite</mat-icon>
          <span>0</span>
        </div>
        <div class="vote-btn downvote">
          <mat-icon>thumb_down</mat-icon>
          <span>0</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="room-loading" *ngIf="roomIsLoaded === false" [ngStyle]="roomLoaderStyle">
  <div class="loader" [ngStyle]="loaderStyle">
    <img class="centering-xy" src="/assets/logo1.png" style="height: 70px; width: 70px;">
  </div>
</div>