<div class="dashboard-header">

  <div class="container">

    <a routerLink="/"><img src="/assets/mixzy.png" style="height: 26px;margin-left: 12px;"></a>
    <a mat-button color="primary">About</a>
    <a mat-button color="primary" routerLink="/terms">Terms</a>
    <a mat-button color="primary" routerLink="/privacy">Privacy</a>
    <div class="right-content" *ngIf="loggedIn === false">
      <button mat-button color="primary" (click)="openLoginDialog()">Login</button>
      <button mat-raised-button color="accent" (click)="openSignupDialog()">Signup</button>
    </div>
    <div class="right-content" *ngIf="loggedIn === true">
      <button mat-raised-button color="accent" (click)="openCreateRoomDialog()">Create Room</button>
      <span class="right-username">{{username}}</span>
      <a mat-button class="user-btn" color="primary" style="z-index: 3005;position: relative;" (click)="onClickUserMenu()">
        <span class="inline-btn-content"><img [src]="pfp" class="avatar-right" style="margin-right: 4px;"><mat-icon>chevron_right</mat-icon></span>
      </a>
    </div>

  </div>

</div>

<div class="dashboard-room-items" *ngIf="loggedIn === true">
  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let roomItem of renderedRoomTitles">
      <a [href]="'/'+roomItem.slug">
        <mat-card>
          <div class="mat-card-room-header">
            <mat-icon>group</mat-icon>
            <span class="count">{{roomItem.users.length}}</span>
            <mat-icon style="margin-left: auto;margin-right: 10px;cursor: pointer;" class="fav-btn">star_outline</mat-icon>
          </div>
          <mat-card-content>
            <div class="dashboard-image" *ngIf="!roomItem.current_dj.song.thumbnail"></div>
            <div class="dashboard-image" *ngIf="roomItem.current_dj.song.thumbnail" [style]="'background: url('+ roomItem.current_dj.song.thumbnail +') center center no-repeat; background-size: cover;'"></div>
            <div class="mat-card-room-footer">
              <span class="roomname">{{roomItem.name}}</span>
              <div class="divider"></div>
              <span class="currently-playing">{{roomItem.current_dj.song.title ? roomItem.current_dj.song.title : "Nobody is playing"}}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="dashboard-room-items loggedout" *ngIf="loggedIn === false">
  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let roomItem of renderedRoomTitles">
      <a [href]="'/'+roomItem.slug">
        <mat-card>
          <div class="mat-card-room-header">
            <mat-icon>group</mat-icon>
            <span class="count">{{roomItem.users.length}}</span>
            <mat-icon style="margin-left: auto;margin-right: 10px;cursor: pointer;" class="fav-btn">star_outline</mat-icon>
          </div>
          <mat-card-content>
            <div class="dashboard-image"></div>
            <div class="mat-card-room-footer">
              <span class="roomname">{{roomItem.name}}</span>
              <div class="divider"></div>
              <span class="currently-playing">Nobody is playing</span>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div id="dashboard-footer" *ngIf="loggedIn === true">
  <div class="container">
    <div class="playlist-btn" matTooltip="Playlists" matTooltipPosition="right" (click)="openPlaylistPanel()">
      <mat-icon aria-hidden="false" aria-label="Playlist Icon" fontIcon="format_list_bulleted" class="playlist-icon"></mat-icon>
    </div>
    <div class="playlist-song-contain">
      <span class="playlist-song-title">{{nextSongTitle}}</span>
    </div>
  </div>
</div>

<div class="black-bg"></div>
<div class="hero"></div>