.dashboard-header {
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  background-color: #0a0b0d;
  border-bottom: 1px solid #000000;
}

.dashboard-header .container {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  padding-right: 15px;
}

.dashboard-btn {
  height: 50px;
  width: 50px;
  background-color: #191b20;
  border-right: 1px solid #000000;
  line-height: 70px;
  cursor: pointer;
}

.dashboard-btn .logo {
  margin: 0 auto;
  height: 20px;
  width: 20px;
  padding-top: 30px;
  background: url(/assets/logo1.png) center center no-repeat;
  background-size: 20px 20px; 
}

.dashboard-header .right-content {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.dashboard-room-items {
  height: calc(100% - 50px);
  width: 100vw;
  top: 50px;
  position: absolute;
}

.dashboard-image {
  height: 200px;
  width: 290px;
  background: url(/assets/background.png) center center no-repeat;
  background-size: cover;
}

.roomname {
  font-family: "Industrywf", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

#dashboard-footer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #060708;
  border-top: 1px solid #000000;
  -webkit-box-shadow: 2px -13px 17px 5px rgba(0,0,0,0.48); 
  box-shadow: 2px -13px 17px 5px rgba(0,0,0,0.48);
}
#dashboard-footer .container {
  display: flex;
  height: 50px;
  width: 100%;
  position: relative;
}
#dashboard-footer .playlist-btn {
  height: 50px;
  width: 50px;
  border-right: 1px solid #000000;
  background: rgb(0,140,255);
  background: linear-gradient(360deg, rgba(0,140,255,1) 0%, rgba(0,88,161,1) 70%);
  cursor: pointer;
  color: #ffffff;
  text-align: center;
}
#dashboard-footer .playlist-song-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  text-overflow: ellipsis;
  color: #ffffff;
}

.playlist-song-contain {
  width: 500px;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 15px;
}

.playlist-icon {
  font-size: 27px;
  height: 27px;
  padding-top:12px;
  width: 27px;
}