<div class="dashboard-header">

  <div class="container">

    <div class="dashboard-btn" matTooltip="Dashboard" matTooltipPosition="right">
      <div class="logo"></div>
    </div>
    <div class="right-content" *ngIf="loggedIn === false">
      <button mat-button color="primary" (click)="openLoginDialog()">Login</button>
      <button mat-raised-button color="accent" (click)="openSignupDialog()">Signup</button>
    </div>
    <div class="right-content" *ngIf="loggedIn === true">
      <button mat-raised-button color="accent" (click)="openCreateRoomDialog()">Create Room</button>
      <a mat-button class="user-btn" color="primary">
        <span class="inline-btn-content"><img [src]="pfp" class="avatar-right" style="margin-right: 4px;"><mat-icon>chevron_right</mat-icon></span>
      </a>
    </div>

  </div>

</div>

<div class="dashboard-room-items">
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let roomItem of renderedRoomTitles">
      <mat-card [routerLink]="roomItem.slug">
        <mat-card-content>
          <div class="dashboard-image"></div>
          <p class="roomname">{{roomItem.name}} - {{roomItem.users.length}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div id="dashboard-footer">
  <div class="container">
    <div class="playlist-btn" matTooltip="Playlists" matTooltipPosition="right" (click)="openPlaylistPanel()">
      <mat-icon aria-hidden="false" aria-label="Playlist Icon" fontIcon="format_list_bulleted" class="playlist-icon"></mat-icon>
    </div>
    <div class="playlist-song-contain">
      <span class="playlist-song-title">{{nextSongTitle}}</span>
    </div>
  </div>
</div>