.text-container {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  color: #000000!important;
  padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', sans-serif;
  color: #0059ff!important;
}

p {
  color: #e0e0e0;
}

li {
  color: #e0e0e0;
}

a {
  color: #2E65CA;
  text-decoration:underline;
  transition: color .2s;
}

a:hover {
  color: #0059ff;
  text-decoration: none;
}