:host {
  height: calc(100vh - 52px);
  width: calc(100vw - 300px);
  position: fixed;
	border-top: 1px solid #000000;
  top: 52px;
  left: 0;
  background-color: rgba(10, 11, 13, 0.85);
  z-index: 2700;
  transition: top 0.4s;
  display: flex;
}

:host .navigation {
  height: 100%;
  width: 52px;
  border-right: 1px solid #000000;
  background-color: #18191b;
}

:host .navigation .item {
  height: 52px;
  width: 52px;
  border-bottom: 2px solid #000000;
  line-height: 57px;
  color: #ffffff;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
}

:host .navigation .item .mat-icon {
  font-size: 21px;
  height: 21px;
  width: 21px;
}

:host .navigation .item:hover {
  height: 52px;
  width: 52px;
  background-color: rgba(0, 117, 213 ,0.5)!important;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
}

:host .room-menu-panels {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

:host .room-info-description {
  height: auto;
  width: 800px;
  margin-top: 50px;
  padding: 30px 30px;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 50px;
}

:host .room-info-description .title {
  font-family: "Industrywf", sans-serif;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 18px;
  text-transform: uppercase;
}

:host .room-info-description .content {
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

:host .room-info-description {
  height: auto;
  width: 800px;
  margin-top: 50px;
  padding: 30px 30px;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 50px;
}

:host .room-info-welcome-message {
  height: auto;
  width: 800px;
  margin-top: 50px;
  padding: 30px 30px;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 50px;
}

:host .room-info-welcome-message .title {
  font-family: "Industrywf", sans-serif;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 18px;
}

:host .room-info-welcome-message .content {
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.dashboard-image {
  height: 150px;
  width: 290px;
  background: url(/assets/logo1.png) center center no-repeat;
  background-color: #000000;
  background-size: 50px 50px;
}

.roomname {
  font-family: "Industrywf", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 37px;
  margin-left: 10px;
}

.currently-playing {
  font-family: "Industrywf", sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-top: -100px;
  color: #757575;
  margin-left: 10px;
  width: 250px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 3em;
}

::-webkit-scrollbar-track {
  background: 0 0;
  -webkit-border-radius: 3em;
}