<div class="form-things" [ngStyle]="formThingsStyle">
  <h4 mat-dialog-title class="big-txt">Login</h4>
  <p mat-dialog-title>Welcome Back!</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput required type="email" formControlName="email" autocomplete="off">
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Email must be valid
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput required type="password" formControlName="password" autocomplete="off">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength') || loginForm.get('password')?.hasError('maxlength')">
        Password must be between 7 - 300 characters long
      </mat-error>
    </mat-form-field>
    <p class="req-error" *ngIf="invalidError">Invalid email or password</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </mat-dialog-actions>
  </form>
</div>
<m-app-spinner class="formLoader" [ngStyle]="formLoaderStyle"></m-app-spinner>